* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: row;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: blueviolet;
    margin-bottom: 10px;
}

/* for selected button */

.focus {
    background-color: #0d50b6;

  }
